%section.row2.template-help.highlighted
  = @glimpse.description

.template-content
  = render "shared/template"


%section.glimpse-highlights
  - @glimpse.highlights.each do |h|
    .glimpse-highlight
      = h.highlightable_type
      %span{:class => 'highlight-'+h.rating}
        = h.text
