// Place all the styles related to the templates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.template-name { line-height: 50px; min-height: 50px}
.template-desc { line-height: 30px; min-height: 30px; }
.template-image {
  &:hover {
    background-image:url('upload.svg');;
  }
}
#template_image { display: none; }
.template-text { min-height: 20px }
.template-actions { margin-top: 50px; }
.template-message { display: none; }
.template-success { color: #4cae4c; }
.highlighted {
  color: rgb(25, 162, 25);
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#highlight-options {
  display: none;
  position: absolute;
  background: #303030;
  color: #D1D1D1;
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#highlight-options span:hover {
  color: #FFFFFF;
  cursor: pointer;
}

#highlight-options:after,
#highlight-options::after {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -40%;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 9px #303030;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
}