// Place all the styles related to the templates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// TODO: move these variables and classes out to their own file
$success-green: #4cae4c;
$error-red: #AE4C4C;
$soft-grey: #CCCCCC;
.delete-link { color: $error-red; }
.add-link { color: $success-green; }

.template-help {
  padding: 15px 0;
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  color: #808080;
  text-align: center;
}
.template-name { line-height: 50px; min-height: 50px}
.template-desc { line-height: 30px; min-height: 30px; }
.template-image {
  color: $soft-grey;
  &:hover { color: darken($soft-grey, 10%); cursor: pointer; }
}
#template_image { display: none; }
.template-text { min-height: 20px; }
.template-actions { margin: 50px 0; }
.template-message { display: none; }
.template-success { color: $success-green; }
.template-error { color: $error-red; }
.rtbgroup-text { line-height: 18px; }
.rtbgroup-name { line-height: 18px; }
.rtbs {
  list-style-type: none;
  padding-left: 25px;
  position: relative;
}
.list-styless { list-style: none; }
.rtb-text {
  line-height: 18px;
  margin: 6px 0;
  display: inline-block;
  width: calc(100% - 30px);
}
.new-rtb-text { margin-left: 16px; }
.add-rtb {
  margin-left: 24px;
  &:hover {
    cursor: pointer;
    color: darken( $success-green, 10% ) ;
  }
}
.rm-rtb {
  &:hover { cursor: pointer; }
}

.highlighted {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.highlight-like { color: $success-green; }
.highlight-dislike { color: $error-red; }
.highlight-question { color: $soft-grey; }
#highlight-options {
  display: none;
  position: absolute;
  background: #303030;
  color: #D1D1D1;
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#highlight-options span:hover {
  color: #FFFFFF;
  cursor: pointer;
}

#highlight-options:after,
#highlight-options::after {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -40%;
  content: '';
  width: 0;
  height: 0;
  border-top: solid 9px #303030;
  border-left: solid 6px transparent;
  border-right: solid 6px transparent;
}

nav { border-right: 1px solid #303030; }
.panel {
  position: fixed;
  left: -15.625em; /*left or right and the width of your navigation panel*/
  width: 15.625em; /*should match the above value*/
}
.wrap { position: relative; }
.menu-link {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 30px;
  z-index: 999;
  padding: 0 7px 2px 7px;
  background: #838383;
  color: #FFF;
  &:hover {
    text-decoration: none;
    background: #696969;
    color: #FFF;
  }
  line-height: 1.2;
}
#menu { background: #303030; }
#menu ul {
  margin-top: 80px; padding: 0;
  a { color: #C7C7C7; }
  a:hover { text-decoration: none; color: #C7C7C7; }
}
#menu li {
  width: 100%;
  border-top: 1px solid #696969;
  list-style-type: none;
  padding: 10px 20px;
  font-size: 1.2em;
  &:hover { background: #444444; }
  .last { border-bottom: 1px solid #696969; }
}
.menu-item-last { border-bottom: 1px solid #696969; }





